<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.15.7/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui@2.15.7/lib/index.js"></script>
    <script src="js/url.js"></script>
        <style type="text/css">
            body {
                background-image: url("/static/login_bg.jpg");
                background-repeat: no-repeat;
                background-size: cover;
            }
        </style>

</head>
<body>
<br/><br/><br/><br/><br/><br/>

    <div style="border: rgba(200,200,200,1) solid 1px;border-radius: 30px;
         margin-top:5%;width: 410px;height: 300px;margin-left: 34%;background-color: rgba(210,210,210,0.9)">

        <div id="login" style="width: 350px" >
            <h3 style="margin-left: 45%;">User Login</h3>
            <el-form :model="ruleForm" class="demo-ruleForm" label-width="100px" ref="ruleForm">
                <el-form-item label="Customer ID" prop="c_id">
                    <el-input v-model="ruleForm.c_id"></el-input>
                </el-form-item>
                <el-form-item label="Password" prop="password">
                    <el-input autocomplete="off" type="password" v-model="ruleForm.password"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button @click="submitForm('ruleForm')" type="primary"
                               style="background-color: #fff; border: #fff;color: #16131c">Login</el-button>
                    <br/>
                    <a href="Register_ind.html">Individual Sign up</a>
                    <a href="Register_corp.html">Corporate Sign up</a>
                </el-form-item>
            </el-form>

        </div>
    </div>

<script>
    customer_id = 3;
    var vm = new Vue({
        el: "#login",
        data() {
            return {
                ruleForm: {
                    c_id: '',
                    password: '',
                },
            };
        },
        methods: {
            submitForm(formName) {
                var settings = {
                    "url": "http://"+ myip +"/login/",
                    "method": "POST",
                    "timeout": 0,
                    "headers": {
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    "data": {
                        "c_id": vm.ruleForm.c_id,
                        "password": vm.ruleForm.password
                    }
                };

                $.ajax(settings).done(function (response) {
                    console.log(response);
                    if (response == 1) {
                        window.location.href = "ServiceOption.html";
                    }else if(response == 0){
                        alert("user name or password error")
                    }else{
                        window.location.href = "OfficerOption.html";
                    }
                });
                // alert('submit!');
            },
        }
    })
</script>
</body>
</html>
